absl-py==0.12.0
backcall==0.2.0
cachetools==4.2.1
cffi==1.14.5
chardet==4.0.0
click==7.1.2
configparser==5.0.2
cycler==0.10.0
cython==0.29.22
decorator==4.4.2
docker-pycreds==0.4.0
dominate==2.6.0
easydict==1.9
gitdb==4.0.7
gitpython==3.1.14
google-api-core==1.31.6
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-cloud-bigquery==2.20.0
google-cloud-core==2.3.2
google-cloud-storage==2.4.0
google-crc32c==1.1.2
google-resumable-media==2.3.3
googleapis-common-protos==1.53.0
grpcio==1.36.1
h5py==3.7.0
httplib2==0.19.0
idna==2.10
imageio==2.9.0
importlib-metadata==3.7.3
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.3.1
libcst==0.3.17
markdown==3.3.4
matplotlib==3.4.2
mypy-extensions==0.4.3
networkx==2.5
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.5.1.48
packaging==20.9
pandas==1.1.5
parso==0.8.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.2.0
promise==2.3
prompt-toolkit==3.0.18
proto-plus==1.18.1
protobuf==3.15.6
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
pywavelets==1.1.1
pyyaml==5.4.1
pyzmq==22.1.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.1
sentry-sdk==1.0.0
setproctitle==1.2.3
shortuuid==1.0.1
sklearn==0.0
smmap==4.0.0
subprocess32==3.5.4
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.9.3
timm==0.3.2
torch==1.11.0+cu113
torch-tb-profiler==0.1.0
torchaudio==0.11.0+cu113
torchfile==0.1.0
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
typing-inspect==0.6.0
urllib3==1.26.4
visdom==0.1.8.9
wcwidth==0.2.5
webp==0.1.4
websocket-client==1.1.0
werkzeug==1.0.1
yaspin==2.1.0
zipp==3.4.1
wandb>=0.13.5